.App {
  text-align: center;
}

.banner {
  border-style: solid;
  border-color: gray;
  font-size: 3em;
  background-image: url('https://previews.123rf.com/images/rudchenko/rudchenko1405/rudchenko140500046/28800530-Abstract-strip-pencil-scribbles-background-Paper-texture--Stock-Photo.jpg');
  background-size: cover;
  background-position: center;
}

.formBackground {
  /*width: 100%;*/
  /*height:100vh;*/
  /*background-color: rgba(0,0,0, 0.7);*/
  /*padding-top: 12%;*/
}